<footer class="footer">
  <p>&copy; 2018 Cristiano Gonçalves.</p>
  <p>
    Desenvolvido com <a href="https://hexo.io" target="_blank">Hexo</a>. Inspirado no blog do <a href="http://gabsferreira.com/" target="_blank">Gabriel Ferreira</a>.
  </p>
</footer>