<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">	
	<meta name="viewport" content="width=device-width">
	<meta name="theme-color" content="#e74c3c">
	<link rel="icon" href="/images/favicon.ico" />
	<% if(is_home()){ %>
		<title>Cristiano Gonçalves</title>
	<% } else { %>
		<title><%- page.title %></title>
	<% } %>		
	<%- css('css/style') %>
</head>
