.post-single
  width 100%
  position relative
  top 0
  left 0
  background-color #fff
  color $font-default-color
  font-size 1.2em
  line-height 2em
  
  a
   color $color-primary
  
  h2 
    font-size 1.8em
    padding 1em 0

  h3
    font-size 1.5em
    padding 1em 0

  h4 
    color $color-primary
    padding 1em 0

  ul 
    padding .5em 3em 

  img 
    max-width 100%

  iframe
    width 100%
    min-height 350px

  .center
    text-align center
    
  .post-header
    width 100%
    padding 1em 0
    border-bottom 1px solid $color-secondary
    display flex
    flex-wrap wrap

    .post-header-title
      width 100%
      font-size 2em
      color $color-primary
      padding .8em 0
    
    .post-header-subtitle
      width 100%
      font-size 1em
      margin-top -1em

    .infos
      width 100%
      display flex
      flex-direction column
      justify-content flex-start

      .post-header-date
        text-transform italic
        padding 0 1em 0 0

      .post-tags-list
        padding .5em 0
        
        .post-tags-list-item
          display flex
          align-items center
          max-height .7em
          padding .3em

          &:nth-child(1)
            margin-left -2em
        

  .obs
    margin 1em 0  0 1em;
    padding-left 10px;
    border-left 10px solid #ddd

  .italic 
    font-style italic
    padding 1em 0 1em 1em

  .warning
    padding  0 1em
    color #fff
    background-color $color-primary

  .comments
    margin 1em 0 0 0 
  
