// Header
.header
	width 100%
	height 100vh
	background-color $color-primary	
	display flex
	flex-direction column
	justify-content center
	align-items center
	position fixed
	top 0
	bottom 0
	left -100%
	z-index 999
	grid-column 1
	transition left .5s

	.close-nav
		color #fff
		background-color transparent
		border 0
		font-size 2.5em
		position absolute
		top 10px
		right 10px

.show-nav 
	left 0

.profile
	width 150px
	height 150px
	border-radius 50%
	border 6px solid $color-primary-dark

.site-name
	font-size 1.6em
	padding .5em
	color rgba(0,0,0,.5)

.navigation-list
	text-align center

	.navigation-link
		padding .7em

		a
			font-size 1.4em
			color #fff
			text-decoration none
			transition .3s color

			&:hover
			&:focus
				color rgba(0,0,0,.5)	

.social-list
	display flex

	.social-icon
		list-style none
		padding 1em

		a
			font-size 1.3em
			color rgba(0,0,0,.5)
			transition .3s color  

			&:hover
			&:focus
				color #fff