.post-tags-list
  display flex
  list-style none

  .post-tags-list-item
    margin-left 1em
      
  .post-tags-list-link
    font-size .8em
    color #fff
    text-decoration none


.post-tags-list
	margin-left 2em

.tag-html
.tag-css
.tag-js
.tag-default
  border-radius 5px
  padding  .3em

.tag-html
  background-color $html-tag-color
      
.tag-css
  background-color $css-tag-color
      
.tag-js
  background-color $js-tag-color

.tag-default
  background-color #888